/* A set of default styles */
:root {
  /* Generic sizing for the page */
  --wrapper-height: 100vh;

  /* Fonts for different elements */
  --font-family: sans-serif;
  --font-family-list: monospace;

  /* Colors you'll see cascade through the elements */
  --color-bg: #99ddff; /* Used for the page body background */
  --color-bg-alt: #33b1ff; /* Used for social icons on hover */
  --color-text-main: #004099; /* List text ann social icons on hover */
  --color-primary: #006aff; /* Headers and borders */
  --color-highlight: #e7f7fe; /* Highlights */
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  text-align: center;
  margin: 0;
  font-size:large;
}
.player {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 300px;
} 
.monster {
    width: 10px;
    height: 10px;
    background: lime;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50px; 
}
.keyup {
    width: 50px;
    height: 20px;
    background: grey;
    color: #ffffff;
    position: absolute;
    top: 450px;
    left: 170px;
    user-select: none; 
}
.keyleft {
    width: 50px;
    height: 20px;
    background: gray;
    color: #ffffff;
    position: absolute;
    top: 470px;
    left: 120px;
    user-select: none;
}
.keydown {
    width: 50px;
    height: 20px;
    background: gray;
    color: #ffffff;
    position: absolute;
    top: 470px;
    left: 170px;
    user-select: none; 
}
.keyright {
    width: 50px;
    height: 20px;
    background: gray;
    color: #ffffff;
    position: absolute;
    top: 470px;
    left: 220px;
    user-select: none; 
}